<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"/>
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/common-table.css">
    </head>

    <body>
        <header th:insert="service-webs/header :: header"></header>
        <sidebar th:insert="service-webs/sidebar :: sidebar"></sidebar>
        <button id="sidebarCollapse" class="btn btn-dark show-sidebar" style="margin: 10px 10px 10px 290px;">...</button>

        <main style="margin: 0px 90px 0px 290px;">

            <h3>Клиента</h3>

            <table class="table-style">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Id</th>
                    <th>Тип клиента</th>
                    <th>Тип клиента в EQ</th>
                    <th>Полное имя клиента</th>
                    <th>ИНН</th>
                    <th>КПП</th>
                    <th>ОГРН</th>
                    <th>Сегмент</th>
                    <th>CUS</th>
                    <th>Отделение</th>
                    <th>Код. слово</th>
                    <th>Счета</th>
                    <th>Карты</th>
                    <th>К-нс</th>
                    <th>УЛ</th>
                    <th>К-рий</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="el : ${clients}" class="alert alert-info mt-1">
                        <th th:text="${el.created_at == null ? '' : el.created_at}"></th>
                        <th th:text="${el.id == null ? '' : el.id}"></th>
                        <th th:text="${el.type_client  == null ? '' :el.type_client}"></th>
                        <th th:text="${el.organization == null ? '' : el.organization.type_client}"></th>
                        <th th:text="${el.full_name == null ? '' : el.full_name}"></th>
                        <th th:text="${el.support == null ? '' : el.support.inn}"></th>
                        <th th:text="${el.support == null ? '' : el.support.kpp}"></th>
                        <th th:text="${el.support == null ? '' : el.support.ogrn}"></th>
                        <th th:text="${el.organization == null ? '' : el.organization.segment}"></th>
                        <th th:text="${el.organization == null ? '' : el.organization.organization_id}"></th>
                        <th th:text="${el.organization == null ? '' : el.organization.branch}"></th>
                        <th th:text="${el.organization == null ? '' : el.organization.code_word}"></th>
                        <th th:text="${el.accounts == null ? 0 : el.accounts.size()}"></th>
                        <th th:text="${el.cards == null ? 0 : el.cards.size()}"></th>
                        <th th:text="${el.compliance_clients == null ? 0 : el.compliance_clients.size()}"></th>
                        <th th:text="${el.infoDuls == null ? 0 : el.infoDuls.size()}"></th>
                        <th th:text="${el.comments == null ? 0 : el.comments.size()}"></th>
                    </tr>
                </tbody>
            </table>
        </main>

    </body>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').click()
        });
    </script>

</html>