<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"/>
    </head>

    <body>
        <header th:insert="service-webs/header :: header"></header>
        <sidebar th:insert="service-webs/sidebar :: sidebar"></sidebar>
        <button class="btn btn-dark show-sidebar" style="margin: 10px 10px 10px 300px;">...</button>

    <main style="margin: 0px 90px 0px 90px;">
        <h3>Клиента</h3>

        <div th:each="el : ${clients}" class="alert alert-info mt-2">
            <div th:text="${el.id}"></div>
        </div>

    </main>

    </body>
</html>